<!-- Inject home.html into layout.html -->
{% extends 'layout.html' %}
{% block content %}

<div class="container mt-5">
  <h3>
    Add input to get images with personal chatbot
  </h3>

  <div>
    <div class="card text-center mt-3">
      <div class="card-header">
        Image Generation:
      </div>
      <div class="card-body">
        {% if image_url %}
          <img src="{{ image_url }}" class="img-fluid" style="max-width: 400px;"/>
        {% else %}
          <p>Enter a description to generate an image!</p>
        {% endif %}
      </div>
    </div>
  </div>

  <form class="container" id="footer" action="/image" method="POST">
    <div class="input-group mb-3">
      <input class="form-control" placeholder="Add input here" name="user_input">
      <button class="btn btn-outline-primary" type="submit">Send</button>
    </div>
  </form>

</div>

{% endblock %}
